/* colors 
    title = darkmagenta,darkslaategray,darkorange,crimson,darkblue
    gradienteFondo = rgb(232,95,240),rgb(62,180,240),rgb(154,240,93),rgb(240,165,72)
    bloaqueMovbil = darkred, orangered,gold,darkgreen,royalblue,darkorchid
*/

/* fonts
    title = "Abril Fatface";
    h2 = "Bangers";

*/

/* estilos y animación h1 */

.container h1{
    width: 97%;
    margin: 1vw auto;
    text-align: center;
    font-size: 5vw;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px white;
    border: 5px solid black;
    font-family: "Abril Fatface", cursive;
    animation: fondoH1 10s linear infinite backwards alternate;
}


@keyframes fondoH1 {
    0%{
        background: darkred;
    }
    20%{
        background: orangered;
    }
    40%{
        background: gold;
    }
    60%{
        background: darkgreen;
    }
    80%{
        background: royalblue;
    }
    100%{
        background: darkorchid;
    }
}


/* fondo animado */
body{
    background: linear-gradient(-45deg, rgb(232,95,240),rgb(62,180,240),rgb(154,240,93),rgb(240,165,72)) fixed;
    animation: gradiente 20s linear infinite backwards alternate;
    background-size: 400% 400%;
}

@keyframes gradiente {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/* estilos y animación h2 */

.container h2{
    width:30%;
    margin: 1.2vw;
    font-size: 3vw;
    padding:8px;
    font-family: "Bangers", cursive;
    text-align: center;
    text-shadow: 1px 1px 1px  white;
    border: 5px solid black;
    animation: fondoH2 10s linear infinite backwards alternate;
}

@keyframes fondoH2 {
    100%{
        background: crimson;
        translate: 60vw;
    }
    /* 30%{
        background: darkslategray;
    }
    50%{
        background: darkorange;
    }
    70%{
        background: crimson;
    }
    100%{
        background: darkblue;
    } */
}