*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #dc143c;
    height: 70px;
    min-width: 1000px;
    font-family: 'KoHo', sans-serif;
}

li{
    float: left;
    position: relative; /* Para que el submenú se posicione en relación al menú principal. */
    list-style: none;
    background-color: #dc143c;
}

a{
    display: block;
    text-align: center;
    width: 170px;
    height: 70px;
    color: white;
    padding-top: 14px;
    text-decoration: none;
    font-size: 1.7rem;
    transition: background-color .5s linear;
}


nav a:hover{
    background-color: #2e0404;
}

nav li ul a{
    text-align: left;
    font-size: 1.4rem;
    padding: 20px;
}

nav li > ul{
    display: none;
    position: absolute; 
    z-index: 1;  /* para que aparezca encima del texto al desplegarse*/
}

/* Hacer que el submenú aparezca al pasar el ratón sobre el menú principal. */
nav li:hover > ul{
    display: block;
}

/* Mover el sub-sub-menú a la derecha. */
nav li ul li > ul{
    top: 0;
    left: 170px;
}


main{
    color: white; 
    width: 100vw;
    min-width: 1000px; 
    height: calc(100vh - 70px);
    overflow-y: hidden; /* Para que no se vea el scroll vertical. */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

main img{
    width: 100%;
    height: 100%;
}

main h1{
    font-size: 5vw;
    text-align: center;
    position: absolute; 
    top: 30%;
    left: 3%;
    font-family: 'Suez One', serif;
    width: 100%;
}

main p{
    font-size: 2vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    font-family: 'KoHo', sans-serif;
}