*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


:root{
    --color-primario: #FFC15E;
    --color-secundario: #4D7C8A;
    --color-terciario: #7B0D1E;
}


body{
    background-color: #F5F5F5;
}




/* estilos barra superior */
.barra-fija{
    background-color: var(--color-primario);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    text-align: center;
}


.barra-fija p{
    font-size: 1.2rem;
    padding-top: 2px;
}

.barra-fija a{
    color: white;
    transition: all 0.5s ease;
}

.barra-fija a i{
    font-size: 1.2rem;
    margin-right: .2rem;
}

.barra-fija a:hover{
    color: var(--color-terciario);
}


/* estilos logo + titulo */
.encabezado{
    display: flex;
    align-items: center;
    margin-top: calc(40px + 1vw);
    width: 100%;
}

.encabezado-imagen{
    width: 30%;
    margin-left: 1rem;
}

.encabezado-imagen img{
    width: 30%;
}

.encabezado h1{
    font-size: calc(1.2rem + 1vw);
    color: var(--color-secundario);
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}


/* navegacion */
.menu-navegacion{
    margin-top: .5rem;
}

.menu-navegacion ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-navegacion li{
    width: 100%;
}

.menu-navegacion a{
    display: block;
    padding: 10px;
    height: 50px;
    background-color: var(--color-secundario);
    text-align: center;
    border: 2px solid whitesmoke;
    transition: all 0.3s linear;
    color: whitesmoke;
    text-decoration: none;
    font-size: calc(1rem + 0.5vw);
    font-family: 'Merriweather', serif;
    position: relative;
    width: 100%;
    padding-left: 0;
    z-index: 1;
}

.menu-navegacion a:hover{
    color: var(--color-secundario);
    font-size: 1.8rem;
    padding-top: .5rem;
}


.menu-navegacion a:hover::after{
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    padding: 7px;
    top:0 ;
    width: 0;
    z-index: -1;
    animation: bg-color 1s forwards;
}

/* animacion enlaces */
@keyframes bg-color {
    0% { 
        width: 0;
    }
    100%{
        width: 100%;
        background-color: white;
    }
}

/* main */
.contenedor_principal{
    display: flex;
    width: 100%;
    margin-top: 1rem;
    color: var(--color-secundario);
}

.contenedor_principal :is(h2,h3,h4, strong,a){
    font-family: 'Quicksand', sans-serif;
}

/* estilos cajas izquierdaa */
.bloqueIzquierda{
    width: 25%;
}

.bloqueIzquierda h2{
    margin-left: .5rem;
}


.contenedor_principal h3{
    font-size: 1.1rem;
    text-align: center;
    background-color: #D78A76;
    width: 100%;
    border-radius: .2rem;
    color: whitesmoke;
    margin-bottom: .5rem;
    padding: .4rem 0;
}

.contenedores_izq{
    padding: .5rem;
    text-align: justify;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
}

.contenedores_izq div{
    width: 75%;
    border: 3px solid var(--color-secundario);
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='51.115' patternTransform='scale(4) rotate(25)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 58%, 93%, 1)'/><path d='M14.5 6.628L8.886 3.372v-6.515L14.502-6.4l5.612 3.257-.001 6.514zm0 50.06l-5.613-3.256v-6.515l5.614-3.258 5.612 3.257-.001 6.515zm14.497-25.117l-5.612-3.257v-6.515L29 18.541l5.612 3.257-.001 6.515zm-29 0l-5.612-3.257v-6.515L0 18.541l5.612 3.257v6.515zM14.5 11.82L4.36 5.967l.002-11.706 10.14-5.855L24.638-5.74l-.001 11.707zm0 50.06L4.36 56.028l.002-11.706 10.14-5.855 10.137 5.852-.001 11.707zm14.498-25.118L18.858 30.91l.002-11.707L29 13.349l10.137 5.853-.001 11.706zm-29 0l-10.139-5.852.002-11.707L0 13.349l10.138 5.853-.002 11.706zm14.501-19.905L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z' transform='translate(0.5,0)' stroke-linecap='square' stroke-width='4' stroke='hsla(0, 25%, 87%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

/* estilos cajas pares */
.contenedores_izq div:nth-child(2n){
    align-self: flex-end;
    color: whitesmoke;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='51.115' patternTransform='scale(4) rotate(25)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(1, 23%, 64%, 1)'/><path d='M14.5 6.628L8.886 3.372v-6.515L14.502-6.4l5.612 3.257-.001 6.514zm0 50.06l-5.613-3.256v-6.515l5.614-3.258 5.612 3.257-.001 6.515zm14.497-25.117l-5.612-3.257v-6.515L29 18.541l5.612 3.257-.001 6.515zm-29 0l-5.612-3.257v-6.515L0 18.541l5.612 3.257v6.515zM14.5 11.82L4.36 5.967l.002-11.706 10.14-5.855L24.638-5.74l-.001 11.707zm0 50.06L4.36 56.028l.002-11.706 10.14-5.855 10.137 5.852-.001 11.707zm14.498-25.118L18.858 30.91l.002-11.707L29 13.349l10.137 5.853-.001 11.706zm-29 0l-10.139-5.852.002-11.707L0 13.349l10.138 5.853-.002 11.706zm14.501-19.905L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z' transform='translate(0.5,0)' stroke-linecap='square' stroke-width='4' stroke='hsla(0, 10%, 54%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}


/* estilos cajas centrales */
.bloqueCentral{
    width: 40%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.bloqueCentral div{
    width: 95%;
    border: 3px solid var(--color-secundario);
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='51.115' patternTransform='scale(4) rotate(25)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(218, 36%, 83%, 1)'/><path d='M14.5 6.628L8.886 3.372v-6.515L14.502-6.4l5.612 3.257-.001 6.514zm0 50.06l-5.613-3.256v-6.515l5.614-3.258 5.612 3.257-.001 6.515zm14.497-25.117l-5.612-3.257v-6.515L29 18.541l5.612 3.257-.001 6.515zm-29 0l-5.612-3.257v-6.515L0 18.541l5.612 3.257v6.515zM14.5 11.82L4.36 5.967l.002-11.706 10.14-5.855L24.638-5.74l-.001 11.707zm0 50.06L4.36 56.028l.002-11.706 10.14-5.855 10.137 5.852-.001 11.707zm14.498-25.118L18.858 30.91l.002-11.707L29 13.349l10.137 5.853-.001 11.706zm-29 0l-10.139-5.852.002-11.707L0 13.349l10.138 5.853-.002 11.706zm14.501-19.905L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z' transform='translate(0.5,0)' stroke-linecap='square' stroke-width='4' stroke='hsla(235, 44%, 94%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    text-align: justify;
    font-size: 1.1rem;
    margin-top: .5rem;
    color: black;
    box-shadow: 0px 0px 5px var(--color-secundario);
    scroll-margin-top: 60px;
}


.bloqueCentral div img{
    float: left;
    width: 25%;
    padding-bottom: 1rem;
    padding-top: .2rem;
}

.bloqueCentral strong{
    color: var(--color-terciario);
}

.bloqueCentral p{
    line-height: 1.65rem;
    font-size: 1.33rem;
}


/* estilos cajas derecha */
.bloqueDerecha{
    width: 35%;
}

.contenedores_der{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contenedores_der div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--color-secundario);
    border-radius: 5px;
    margin-right: 1rem;
    flex-shrink: 0;
    margin-top: .5rem;
    /* columna responsive */
    flex-basis: 45%;
    flex-grow: 2;
    padding-bottom: .3rem;
    transition: all 0.3s linear;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='51.115' patternTransform='scale(4) rotate(140)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(51, 38%, 83%, 1)'/><path d='M14.5 6.628L8.886 3.372v-6.515L14.502-6.4l5.612 3.257-.001 6.514zm0 50.06l-5.613-3.256v-6.515l5.614-3.258 5.612 3.257-.001 6.515zm14.497-25.117l-5.612-3.257v-6.515L29 18.541l5.612 3.257-.001 6.515zm-29 0l-5.612-3.257v-6.515L0 18.541l5.612 3.257v6.515zM14.5 11.82L4.36 5.967l.002-11.706 10.14-5.855L24.638-5.74l-.001 11.707zm0 50.06L4.36 56.028l.002-11.706 10.14-5.855 10.137 5.852-.001 11.707zm14.498-25.118L18.858 30.91l.002-11.707L29 13.349l10.137 5.853-.001 11.706zm-29 0l-10.139-5.852.002-11.707L0 13.349l10.138 5.853-.002 11.706zm14.501-19.905L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z' transform='translate(0.5,0)' stroke-linejoin='round' stroke-linecap='round' stroke-width='3' stroke='hsla(51, 56%, 88%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.contenedores_der div:hover{
    transform: scale(1.03);
    filter:grayscale(.8);
}

.contenedores_der div img{
    width: 100%;
}

.contenedores_der div h4{
    font-size: calc(.8rem + 0.5vw);
    padding-top: 5px;
    color: #D78A76;
}

.contenedores_der div p{
    text-align: justify;
    font-size: 1.1rem;
    padding: .5rem;
}

.contenedores_der div a{
    display: block;
    background-color: #D78A76;
    text-align: center;
    border: 2px solid #D78A76;
    transition: all 0.3s linear;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
    width: 93%;
}

.contenedores_der div a:hover{
    color: whitesmoke;
    background-color: var(--color-terciario);
}

footer{
    background-color: var(--color-terciario);
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: 'Quicksand', sans-serif;
}