*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-size:62.5%;
}

.titulo_menu{
    width: 100%;
    background-image: url(../img/fondoTitulo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.boxTitulo{
    width: 100%;
    height: 30vh;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.boxTitulo h1{
    font-size: 7rem;
    color: #fff;
    margin-top: 3rem;
    font-family: 'Lobster', cursive;
    text-shadow: #000 0.1rem 0.1rem 0.2rem;
}


.menu_principal{
    width: 100%;
    height: 23vh;
    margin-top: 2vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 2vw;
}

.menu_principal > div{
    width: 15vw;
    margin-top: 3rem;
    border-radius: 15rem;
    font-size: 3rem;
    margin: .6vw;
    float: left;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    transition: all .5s;
}

.menu_principal div:hover{
    opacity: 1 ;
    transform: scale(1.2);
}


.menu_principal > div a{
    display: block;
    text-align: center;
    height: 20vh;
    text-decoration: none;
    color: #000;
    font-size: 3vw;
    font-family: 'Lobster', cursive;
    margin-top: 3rem;
    transition: all .5s;
    padding-top: 1.5rem;
}

.menu_principal > div a:hover{
    animation: animacion 1s infinite;
    color: white;
}

@keyframes animacion{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.menu_principal > div:nth-child(1){
    background-image: url(../img/entrantes.jpg);
}

.menu_principal > div:nth-child(2){
    background-image: url(../img/pescados.jpg);
}

.menu_principal > div:nth-child(3){
    background-image: url(../img/mariscos.jpg);
}

.menu_principal > div:nth-child(4){
    background-image: url(../img/pulpos.jpg);
}

.menu_principal > div:nth-child(5){
    background-image: url(../img/carnes.jpg);
}

.menu_principal > div:nth-child(6){
    background-image: url(../img/postres.jpg);
}


div[class*="contenedor"]{
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.contenedor_entrantes{
    background-image: url(../img/fondoEntrantes.jpg);
}

.contenedor_pescados{
    background-image: url(../img/fondoPescados.jpg);
}	

.contenedor_mariscos{
    background-image: url(../img/fondoMariscos.jpg);
}	

.contenedor_pulpos{
    background-image: url(../img/fondoPulpos.jpg);
}

.contenedor_carnes{
    background-image: url(../img/fondoCarnes.jpg);
    
}

.contenedor_postres{
    background-image: url(../img/fondoPostres.jpg);
}


.contenedorPlatos h2{
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid #fff;
    width: 90%;
    margin: 0 auto;
    text-shadow: #000 0.3rem 0.1rem 0.1rem;
}

.contenedorPlatos{
    width: 70vw;
    border-radius: 1rem;
    font-size: 10rem;
    margin-left: 15vw;
    clear: both;
    overflow: hidden;
    padding-bottom: 1vw;
    color: #fff;
}

.contenedorPlatos{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.menu{
    padding: 0 3.4vw;
}

.contenedorAlergenos {
    width: 100%;
    padding: .5vw 1.5vw;
    height: 5vw;
    text-align: right;
}

.plato{
    font-size: 2.2vw;
    width: 60%;
    font-family: 'Mirza', cursive;
}

.precio{
    font-size: 2.5vw;
    width: 20%;
    font-family: 'Mirza', cursive;
}

.alergeno {
    width: 3vw;
    height: 5vw;
    margin: 0 .5vw;
    padding-top: 1vw;
}

footer{
    text-align: center;
    width: 100%;
    background-image: url(../img/fondoTitulo1.jpg);
    background-repeat: no-repeat;
    padding: 1px 0;
}

footer img{
    width: 100%;
}

.alergenoFooter{
    width: 8vw;
    margin: 0 .5vw;
}

.primeraFila, .segundaFila{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(233, 222, 222, 0.5);
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.tituloFooter{
    font-size: 5rem;
    font-family: 'Lobster', cursive;
    margin-top: 2rem;
    width: 90%;
    margin: 0 auto;
}

