* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightslategrey;
}

.container {
    background-color: darkslategrey;
    border: 5px solid gainsboro;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

.container h1 {
    color: white;
    border-bottom: 8px solid gainsboro;
    font-size: 3.5rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding: 8px 0;
    font-family: 'Literata', sans-serif;
}

.cartas {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
}

.cartas .carta {
    background-color: white;
    margin: 1rem;
    width: 200px;
    height: 300px;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000080;
}

/* estilo picas */
.bi,
span {
    color: #312f33;
    font-weight: bold;
}

.carta1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Primera carta */
.carta-ini {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.carta-medio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.carta-medio .bi {
    font-size: 2.5rem;
}

.carta-fin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.carta-fin i,
.carta-fin span {
    transform: rotate(180deg);
}

/* segunda y tercera carta */
.carta2,
.carta3,
.carta4,
.carta5,
.carta6,
.carta7,
.carta8,
.carta9,
.carta10 {
    display: flex;
    justify-content: space-between;
}

.cartas-medio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carta-fin {
    align-self: flex-end;
}

.rotate {
    transform: rotate(180deg);
}

/* carta de la 4 a la 10 */

.primerBloque,
.segundoBloque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 70px;
}

.segundoBloque {
    align-items: flex-end;
}

.tercerBloque {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 0;
}
.width{
    width: 0;
}