* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightslategrey;
}

/* contenedor principal */
.container {
    background-color: darkslategrey;
    border: 5px solid gainsboro;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

/* titulo */
.container h1 {
    color: white;
    border-bottom: 8px solid gainsboro;
    font-size: 3.5rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding: 8px 0;
    font-family: 'Literata', sans-serif;
}

/* contenedor de las cartas */
.cartas {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
}

/* estilos comunes de todas las cartas */
.cartas .carta {
    background-color: white;
    margin: 1rem;
    width: 200px;
    height: 300px;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000080;
}

/* estilo picas y letra/numero */
.bi,
span {
    color: #312f33;
    font-weight: bold;
}

.carta1,
.carta2,
.carta3,
.carta4,
.carta5,
.carta6,
.carta7,
.carta8,
.carta9,
.carta10 {
    display: flex;
    justify-content: space-between;
}

/* estilos pica y numero/letra superior izquierda */
.carta-ini {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* estilos carta central */
.carta-medio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.carta-medio .bi {
    font-size: 2.5rem;
}


/* estilos pica y numero/letra inferior derecha */
.carta-fin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.carta-fin i,
.carta-fin span {
    transform: rotate(180deg);
}

/* estilos cartas centrales 2 y 3 */
.cartas-medio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rotate {
    transform: rotate(180deg);
}


.bloqueIzquierda,
.bloqueDerecha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 70px;
}

.bloqueDerecha {
    align-items: flex-end;
}

.bloqueCentral {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 0;
}

.bloqueCentral>.carta-medio{
    margin: 0 0;
}

/* propiedades para los bloques centrales */
.width{
    width: 0;
}

/* centrar los span */
.carta-ini>span{
    margin-left: 3px;
}

.carta10 .carta-ini span{
    margin-left: 0;
}
/* subir las picas de la carta 7 y 9 */
.pb{
    padding-bottom: 40px;
}