*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    background: rgb(37,150,190);
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png"),radial-gradient(circle, rgba(37,150,190,1) 0%, rgb(26, 37, 21) 100%);
    color: white;
    font-size: 1.5rem;
    font-family: 'Kaushan Script', cursive;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: 'Kaushan Script', cursive;
}

header h1{
    font-size: calc(2rem + 1.2vw);
    color: rgb(87, 14, 14);
}

header p{
    font-size: calc(1rem + .5vw);
    margin: 1rem 5rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.container div{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .6rem;
    background-position: center;
    display: grid;
    transition: all .5s ease;
    overflow: hidden;
}

.container p{
    background-color: rgba(204, 200, 200, 0.5);
    padding: .5rem;
    height: 45px;
    transition: all .7s ease;
    color: black;
    font-weight: bold;
}


.container div p:nth-child(1){
    justify-content: start;
    font-size: 1.2rem;
}

.container div p:nth-child(2){
    align-self: end;
    text-align: right;
    color: rgb(87, 14, 14);
    font-family: 'Kaushan Script', cursive;
}

/* hover sobre las imágenes */
.container div:hover p:nth-child(1){
    transform: translateX(-100%);
}

.container div:hover p:nth-child(2){
    transform: translateX(100%);
}

.container div:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px rgba(153, 151, 151, 0.5);
}

.container div:nth-child(1){
    background-image: url('img/f1.jpg');
}

.container div:nth-child(2){
    background-image: url('img/f2.jpg');
}

.container div:nth-child(3){
    background-image: url('img/f3.jpg');
}

.container div:nth-child(4){
    background-image: url('img/f4.jpg');
}

.container div:nth-child(5){
    background-image: url('img/f5.jpg');
}

.container div:nth-child(6){
    background-image: url('img/f6.jpg');
}

.container div:nth-child(7){
    background-image: url('img/f7.jpg');
}

.container div:nth-child(8){
    background-image: url('img/f8.jpg');
}

.container div:nth-child(9){
    background-image: url('img/f9.jpg');
}

.container div:nth-child(10){
    background-image: url('img/f10.jpg');
}

.container div:nth-child(11){
    background-image: url('img/f11.jpg');
}

.container div:nth-child(12){
    background-image: url('img/f12.jpg');
}

.container div:nth-child(13){
    background-image: url('img/f13.jpg');
}

.container div:nth-child(14){
    background-image: url('img/f14.jpg');
}

.container div:nth-child(15){
    background-image: url('img/f15.jpg');
}

.container div:nth-child(16){
    background-image: url('img/f16.jpg');
}

.container div:nth-child(17){
    background-image: url('img/f17.jpg');
}

.container div:nth-child(18){
    background-image: url('img/f18.jpg');
}

.container div:nth-child(18) p:nth-child(1){
    height: 65px;
}

.container div:nth-child(19){
    background-image: url('img/f19.jpg');
}

.container div:nth-child(20){
    background-image: url('img/f20.jpg');
}



footer{
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2.5rem;
}
