*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-texto: #f5f5f5;
    --color-fondo-menu: #5e1357;
    --color-fondo-menu-hover: #854a8d;
}

body{
    font-family: 'Electrolize', sans-serif;
    overflow: hidden;
}

.menu-navegacion{
    background-color: var(--color-fondo-menu);
}

.menu-navegacion ul{
    list-style: none;
    display: flex;
    text-align: center;
}


.menu-navegacion ul li{
    border-right: 1px solid white;
    color: var(--color-texto);
    padding: .8rem 1.77rem;
    transition: all .5s ease;
}

.menu-navegacion ul li a{
    text-decoration: none;
    color: var(--color-texto);
    font-size: calc(.5rem + 1vw);
}


.menu-navegacion ul li:hover{
    background-color: var(--color-fondo-menu-hover);
}

.menu-navegacion ul li:hover:nth-child(1){
    background-color: var(--color-fondo-menu);
}

.menu-navegacion ul li:nth-child(1){
    width: 40%;
    text-align: left;
}


/* a todas los sections */
main{
    position: relative;
}
section{
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    scroll-margin-top: 6rem;
    display: none;
}

/* section inicio */

.inicio{
    background-image: url('fotos/foto1.jpg');
    display: block;
}


/* section smr */
.smr{
    background-image: url('fotos/foto2.jpg');
}

/* section asir */
.asir{
    background-image: url('fotos/foto3.jpg');
}

/* section daw */
.daw{
    background-image: url('fotos/foto4.jpg');
}

/* section dam */
.dam{
    background-image: url('fotos/foto5.jpg');
}

/* section ciberseguridad */
.ciberseguridad{
    background-image: url('fotos/foto6.jpg');
}

.inicio:target, .smr:target, .asir:target, .daw:target, .dam:target, .ciberseguridad:target{
    display: block;
}

/* estilos generales para todos los articulos */
article img{
    width: 40%;
    border-radius: .5rem;
    margin: 1rem 0;
}

article{
    width: 80%;
    height: 75%;
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 7%;
    left: 10%;
    background-color: rgba(12, 11, 12, 0.7);
    border-radius: 1rem;
    padding: 1rem;
}

article h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
}

article p{
    font-size: 1.2rem;
    text-align: justify;
    margin-top: .5rem;
}



footer{
    background-color: var(--color-fondo-menu);
    color: var(--color-texto);
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
