* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* variables colores */
:root {
    --color-uno: #563F1B;
    --color-dos: #F5B93B;
    --color-tres: #D34E24;
    --color-cuatro: #F28123;
    --color-cinco: #F2F4FF;
    --color-seis: #F7F052;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23D34E24'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23F5B93B'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Mukta', sans-serif;
}

.encabezado {
    position: fixed;
    height: 100vh;
    width: 68%;
    top: 5%;
    left: 16%;
    z-index: 2;
}

.encabezado--titulo {
    background-color: var(--color-tres);
    height: 60px;
    font-size: calc(1.5rem + 0.5vw);
    border: 3px solid var(--color-uno);
    text-align: center;
    color: var(--color-uno);
    font-weight: bold;
    top: 5vh;
    padding-top: .2rem;
}

.contenido_principal {
    background-image: url(img/campero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 70vw;
    left: 15%;
    height: auto;
    color: var(--color-dos);
    padding: 1rem;
    border-radius: 6px;
    text-align: justify;
}

.contenido_principal--titulo {
    position: sticky;
    width: 60vw;
    height: 45px;
    background-color: var(--color-tres);
    left: 20%;
    top: 6vh;
    text-align: center;
    color: var(--color-uno);
    border-radius: 6px;
    margin-bottom: 2rem;
    z-index: 10;
    font-size: calc(1.5rem + 0.5vw);
}


.contenido_principal--contenido p {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

footer {
    position: fixed;
    background-color: var(--color-uno);
    width: 100%;
    bottom: 5%;
    text-align: center;
    font-size: calc(1.2rem + 0.5vw);
    padding: .3rem;
    color: var(--color-tres);
    z-index: 20;
}

/* estilos menu hamburguesa */

.contenedor_barras {
    position: fixed;
    top: 6vh;
    left: 4vw;
    width: 3%;
    transform: rotateZ(0deg);
    transition: all 0.5s linear;
    z-index: 25;
}

.barra {
    height: 6px;
    width: 45px;
    position: relative;
    background-color: var(--color-tres);
    margin-bottom: 10px;
    border-radius: 5px;
    z-index: 5;
    transition: all 0.5s 0.5s linear;
    transform-origin: left;
}

.contenedor_barras .barra:nth-child(2) {
    background-color: var(--color-uno);
}

.checkbox {
    position: fixed;
    top: 5%;
    left: -1%;
    width: 10%;
    height: 10vh;
    z-index: 27;
    opacity: 0;
    cursor:pointer;
}


/* estilos navegacion */

.menu_navegacion {
    position: fixed;
    right: 100%;
    top: 0;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s linear;
    background: linear-gradient(to bottom, rgba(180, 64, 29, 0.9), rgba(216, 110, 106, 0.9));
    overflow: hidden;
}

.nav__logo {
    width: 14vw;
    height: 25vh;
    position: absolute;
    left: 45%;
    top: 5%;
    box-shadow: 0 0 0 3px var(--color-uno);
}

.titulo_logo {
    position: relative;
    top: 5%;
}

.titulo_logo p {
    position: absolute;
    left: 45%;
    top: 10vh;
    z-index: 5;
    color: white;
    text-align: center;
    background-color: rgba(86, 63, 27, .8);
    width: 14vw;
    font-weight: bold;
}

.nav__ul {
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 35%;
    left: 7%;
    text-align: center;
    height: auto;
    margin-bottom: 18vh;
    text-align: center;
}

.nav__li {
    padding: 5px;
    position: relative;
    left: -100%;
}

.nav__a {
    text-decoration: none;
    color: var(--color-seis);
    font-size: calc(1.2rem + 0.5vw);
    text-shadow: black 0px 0px 1px;
}


.nav__a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-seis);
    color: #f5f5f5;
    font-weight: bold;
}




/* animacion listas */
input[type="checkbox"]:checked~.menu_navegacion .nav__li:nth-child(1) {
    animation: bg-color1 2s linear 0.8s forwards, change-bg 1s linear 4s forwards;
}

input[type="checkbox"]:checked~.menu_navegacion .nav__li:nth-child(2) {
    animation: bg-color2 2.5s linear 0.8s forwards, change-bg 1s linear 4.2s forwards;
}

input[type="checkbox"]:checked~.menu_navegacion .nav__li:nth-child(3) {
    animation: bg-color3 3s linear 0.8s forwards, change-bg 1s linear 4.4s forwards;
}

input[type="checkbox"]:checked~.menu_navegacion .nav__li:nth-child(4) {
    animation: bg-color1 3.5s linear 0.8s forwards, change-bg 1s linear 4.6s forwards;
}

input[type="checkbox"]:checked~.menu_navegacion .nav__li:nth-child(5) {
    animation: bg-color2 4s linear 0.8s forwards, change-bg 1s linear 4.8s forwards;
}

input[type="checkbox"]:checked~.menu_navegacion .nav__li:nth-child(6) {
    animation: bg-color3 4.5s linear 0.8s forwards, change-bg 1s linear 5s forwards;
}

@keyframes change-bg {
    to {
        background-color: inherit;
    }
}

@keyframes bg-color1 {
    from {
        width: 0;
        left: -100%;
        background-color: var(--color-dos);
    }

    to {
        background-color: var(--color-dos);
        left: 0;
        width: 100%;
    }

}

@keyframes bg-color2 {
    from {
        width: 0;
        left: -100%;
        background-color: var(--color-tres);
    }

    to {
        background-color: var(--color-tres);
        left: 0;
        width: 100%;
    }
}

@keyframes bg-color3 {
    from {
        width: 0;
        left: -100%;
        background-color: var(--color-uno);
    }

    to {
        background-color: var(--color-uno);
        left: 0;
        width: 100%;
    }
}


/* transicion menu hamburguesa. */
input[type="checkbox"]:checked~.contenedor_barras :nth-child(2) {
    width: 0;
    transition: all 0.3s linear;
}

input[type="checkbox"]:checked~.contenedor_barras :nth-child(1) {
    top: .6rem;
    background-color: var(--color-uno);
}

input[type="checkbox"]:checked~.contenedor_barras :nth-child(3) {
    transform-origin: right;
    transform: rotateZ(90deg);
    right: 1.4rem;
    background-color: var(--color-uno);
}

input[type="checkbox"]:checked~.contenedor_barras {
    transform: rotateZ(-45deg);
    transition-delay: 1s;
}

input[type="checkbox"]:checked~.menu_navegacion {
    right: 0;
}

input[type="checkbox"]~.contenedor_barras :nth-child(2) {
    width: 45px;
}

input[type="checkbox"]~.contenedor_barras :nth-child(1) {
    transform: rotateZ(0deg);
    top: 0;
}

input[type="checkbox"]~.contenedor_barras :nth-child(3) {
    transform-origin: right;
    right: 0;
}
