* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color_texto: #5a0075;
    --color_borde: #dd0a85;
    --color_sombra: whitesmoke;

    /* 9 colores splash aleatorios*/
    --color1_1: #0c0341;
    --color1_2: #b6279e;
    --color1_3: #ff00ff;
    --color1_4: #ffee00;
    --color1_5: #30797e;
    --color1_6: #ac6f37;
    --color1_7: #71be75;
    --color1_8: #661642;
    --color1_9: #ffffff;

    /* colores arcoiris */
    --color2_1: rgba(190, 49, 49,0.5);
    --color2_2: #fb7b0a;
    --color2_3: #ff0;
    --color2_4: #00ff00;
    --color2_5: #0000ff;
    --color2_6: #4b0082;
    --color2_8: #ea00ff;
    --color2_7: #00f7ff;

    /* tiempos */
    --tiempo-animation1: 3s;
    --tiempo-animation2: 10s;

    /* delay animacion 1 */
    --del1_1: calc(var(--tiempo-animation1)/10);
    --del1_2: calc(var(--del1_1)*2);
    --del1_3: calc(var(--del1_1)*3);
    --del1_4: calc(var(--del1_1)*4);
    --del1_5: calc(var(--del1_1)*5);
    --del1_6: calc(var(--del1_1)*6);
    --del1_7: calc(var(--del1_1)*7);
    --del1_8: calc(var(--del1_1)*8);

    /* delay animacion 2 */
    --del1_9 : calc(20 * var(--del1_1));
    --del1_10: calc(21 * var(--del1_1));
    --del1_11: calc(22 * var(--del1_1));
    --del1_12: calc(23 * var(--del1_1));
    --del1_13: calc(24 * var(--del1_1));
    --del1_14: calc(25 * var(--del1_1));
    --del1_15: calc(26 * var(--del1_1));
    --del1_16: calc(27 * var(--del1_1));
    --del1_17: calc(28 * var(--del1_1));
    --del1_18: calc(29 * var(--del1_1));
    --del1_19: calc(30 * var(--del1_1));
    --del1_20: calc(31 * var(--del1_1));
    --del1_21: calc(32 * var(--del1_1));
    --del1_22: calc(33 * var(--del1_1));
    --del1_23: calc(34 * var(--del1_1));
    


}

body {
    background-color: var(--color_texto);
    background-image: url('./back1.jpg');
}

h1 {
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 2px;
    font-size: 2.7em;
    text-shadow: 1px 1px 5px var(--color_sombra), -1px -1px 5px var(--color_sombra);
    color: var(--color_texto);
}

h3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2em;
    color: var(--color_texto);
    padding: 10px;
}

.contenedor {
    background-color: var(--color_borde);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cd6654'/%3E%3Cstop offset='1' stop-color='%23cd6654' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235f2a8b'/%3E%3Cstop offset='1' stop-color='%235f2a8b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23916c69'/%3E%3Cstop offset='1' stop-color='%23916c69' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239A2476'/%3E%3Cstop offset='1' stop-color='%239A2476' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFA732'/%3E%3Cstop offset='1' stop-color='%23FFA732' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232330A0'/%3E%3Cstop offset='1' stop-color='%232330A0' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    width: 900px;
    height: 950px;
    border: 5px solid var(--color_borde);
    border-radius: 10px;
    margin: 10px auto 0px;
    padding: 1vh 2vw;
}

.cuadrado{
    display: grid;
    grid-template-columns: repeat(8, 105px);
    grid-template-rows: repeat(8, 105px);
    justify-content: center;
}

.casilla {
    border: 1px solid var(--color_texto);
    width: 100px;
    height: 100px;
}





/* animaciones */

@keyframes saltos {
    15% {
        background-color: var(--color1_1);
    }

    25% {
        background-color: var(--color1_2);
    }

    35% {
        background-color: var(--color1_3);
    }

    45% {
        background-color: var(--color1_4);
    }

    55% {
        background-color: var(--color1_5);
    }

    65% {
        background-color: var(--color1_6);
    }

    75% {
        background-color: var(--color1_7);
    }

    85% {
        background-color: var(--color1_8);
    }

    100% {
        background-color: var(--color1_9);
    }
}

.fila1 {
    animation: saltos var(--tiempo-animation1) ease var(--del1_1) forwards;
}


.fila2 {
    animation: saltos var(--tiempo-animation1) ease var(--del1_2) forwards;
}

.fila3 {
    animation: saltos var(--tiempo-animation1)  ease var(--del1_3) forwards;
}

.fila4 {
    animation: saltos var(--tiempo-animation1) ease var(--del1_4) forwards;
}

.fila5 {
    animation: saltos var(--tiempo-animation1) ease var(--del1_5) forwards;
}

.fila6 {
    animation: saltos var(--tiempo-animation1) ease var(--del1_6) forwards;
}

.fila7 {
    animation: saltos var(--tiempo-animation1) ease var(--del1_7) forwards;
}

.fila8 {
    animation: saltos var(--tiempo-animation1) ease var(--del1_8) forwards;
} 



@keyframes colors {
    /* colores arcoiris */
    0% {
        background-color: var(--color2_1);
    }

    12.5% {
        background-color: var(--color2_2);
    }

    25% {
        background-color: var(--color2_3);
    }

    37.5% {
        background-color: var(--color2_4);
    }

    50% {
        background-color: var(--color2_5);
    }

    62.5% {
        background-color: var(--color2_6);
    }

    75% {
        background-color: var(--color2_7);
    }

    87.5% {
        background-color: var(--color2_8);
    }

    100% {
        background-color: var(--color1_9);
    }

}

/* empezar por la casilla 8 luego casilla 7,16 luego casilla 6,15,24 */


.caja2_8 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_9) infinite;
}

.caja2_7, .caja2_16 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_10) infinite;
}

.caja2_6, .caja2_15, .caja2_24 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_11) infinite;
}

.caja2_5, .caja2_14, .caja2_23, .caja2_32 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_12) infinite;
}

.caja2_4, .caja2_13, .caja2_22, .caja2_31, .caja2_40 {
    animation: colors var(--tiempo-animation2) ease   var(--del1_13) infinite;
}

.caja2_3, .caja2_12, .caja2_21, .caja2_30, .caja2_39, .caja2_48 {
    animation: colors var(--tiempo-animation2) ease var(--del1_14) infinite;
}

.caja2_2, .caja2_11, .caja2_20, .caja2_29, .caja2_38, .caja2_47, .caja2_56 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_15) infinite;
}


.caja2_1, .caja2_10, .caja2_19, .caja2_28, .caja2_37, .caja2_46, .caja2_55, .caja2_64 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_16) infinite;
}

.caja2_9, .caja2_18, .caja2_27, .caja2_36, .caja2_45, .caja2_54, .caja2_63, .caja2_72 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_17) infinite;
}

.caja2_17, .caja2_26, .caja2_35, .caja2_44, .caja2_53, .caja2_62, .caja2_71 {
    animation: colors var(--tiempo-animation2) ease   var(--del1_18) infinite;
}

.caja2_25, .caja2_34, .caja2_43, .caja2_52, .caja2_61, .caja2_70 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_19) infinite;
}

.caja2_33, .caja2_42, .caja2_51, .caja2_60, .caja2_69 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_20) infinite;
}

.caja2_41, .caja2_50, .caja2_59, .caja2_68 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_21) infinite;
}

.caja2_49, .caja2_58, .caja2_67 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_22) infinite;
}

.caja2_57, .caja2_66 {
    animation: colors var(--tiempo-animation2) ease  var(--del1_23) infinite;
}




